{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hotel/styles.css' %}">
    <title>Hotels</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <div class="title text-left">
            <h2 class="title text-center fs-1">Reviews for {{ hotel.name }}</h2>
            <div class="mb-5">
                {% for review in reviews %}
                    <div class="border-bottom">
                        <p class="fs-3">{{ review.user.username }}: {{ review.stars }} stars</p>
                        <p>{{ review.content }}</p>
                        {% if review.user == user %}
                            <a href = "{% url 'edit_review' hotel.id review.id %}" ><button type="button" class="btn btn-outline-primary btn-sm" >Edit</button></a>
                            <a href = "{% url 'delete_review' hotel.id review.id %}" ><button type="button" class="btn btn-outline-primary btn-sm" >Delete</button></a>
                        {% endif %}
                    </div>
                {% empty %}
                    <p class="fs-6">No reviews yet.</p>
                {% endfor %}

            </div>

            <a href = "{% url 'create_review' hotel.id %}" ><button type="button" class="btn btn-outline-primary" >Leave a review</button></a>
        </div>
    </div>
</body>