{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hotel/styles.css' %}">
    <title>Booking</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <div class="title text-center">
            <div class="container">
                <h2 class="text-center">{{ hotel.name }}</h2>
                
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3 mt-4">
                        <label for="room" class="form-label">Choose room:</label>
                        {{ form.room }}  <!-- Здесь будет отображён выпадающий список для доступных комнат -->
                    </div>
                    <button type="submit" class="btn btn-primary">Book</button>
                </form>
                <ul>
                <h4 class="mt-4">Free rooms:</h4>
                <ul class="list-group w-30">
                    {% for room in rooms %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">>Room ID: {{ room.id }}
                        {% if room.reserved == False %}
                            <div class="badge badge-primary badge-pill text-success">Available</div>
                        {% endif %}
                        </li>
                    {% empty %}
                        <li class="list-group-item">>No rooms.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    
    


</body>
</html>
